<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.1" maxUrlLength="1024" />
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="WcfErp.WebHttp" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
          <newtonsoftJsonBehavior />
        </behavior>
        <behavior name="web_raw">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization  serviceAuthorizationManagerType="WcfErp.FormatterJsonNET.ServiceAuthorization,WcfErp" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- Servicios Especiales-->
      <service name="WcfErp.Servicios.WSLogin">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.IWSLogin" />
      </service>
      <!-- Termina Servicios Especiales-->
      <!-- Servicios Ventas-->
      <service name="WcfErp.Servicios.Ventas.WcfClientes">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Ventas.IWcfClientes" />
      </service>
      <!-- Termina Servicios Ventas-->
      <!-- Servicios Generales-->
      <service name="WcfErp.Servicios.Generales.WcfPaises">
        <!-- Paises -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfPaises" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfCondicionesDePago">
        <!-- Condiciones de pago -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfCondicionesDePago" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfTipoCliente">
        <!-- Tipo Cliente -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfTipoCliente" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfZonaCliente">
        <!-- Zona Cliente -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfZonaCliente" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfCobrador">
        <!-- Cobrador -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfCobrador" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfVendedor">
        <!-- Vendedor -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfVendedor" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfMoneda">
        <!-- Moneda -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfMoneda" />
      </service>
     
      <service name="WcfErp.Servicios.Generales.WcfDepartamentos">
        <!-- Departamentos -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfDepartamentos" />
      </service>

      <service name="WcfErp.Servicios.Generales.WcfPuestos">
        <!-- Puestos -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfPuestos" />
      </service>

      <service name="WcfErp.Servicios.Generales.WcfGrupoUnidades">
        <!-- Puestos -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfGrupoUnidades" />
      </service>

      <service name="WcfErp.Servicios.Generales.WcfEmpresas">
        <!-- Empresas -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfEmpresas" />
      </service>

      <!-- Termina Servicios Generales-->
      <!-- Termina Servicios Inventarios-->
      <service name="WcfErp.Servicios.Inventarios.WcfConceptos">
        <!-- Concepto -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfConceptos" />
      </service>
      <service name="WcfErp.Servicios.Inventarios.WcfUnidades">
        <!-- Unidad -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfUnidades" />
      </service>
      <service name="WcfErp.Servicios.Inventarios.WcfGruposComponentes">
        <!-- GrupoComponentes -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfGruposComponentes" />
      </service>
      <service name="WcfErp.Servicios.Inventarios.WcfSubgruposComponentes">
      <!-- SubgrupoComponente -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfSubgruposComponentes" />
      </service>

      <service name="WcfErp.Servicios.Inventarios.WcfPureza">
        <!-- Pureza -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfPureza" />
      </service>

      <service name="WcfErp.Servicios.Inventarios.WcfPesos">
        <!-- Pesos -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfPesos" />
      </service>

      <service name="WcfErp.Servicios.Inventarios.WcfProcedencias">
        <!-- Procedencia -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfProcedencias" />
      </service>

      <service name="WcfErp.Servicios.Inventarios.WcfTipoComponente">
        <!-- TipoComponente -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfTipoComponente" />
      </service>

      <service name="WcfErp.Servicios.Administracion.WcfUsuarios">
        <!-- Usuarios -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Administracion.IWcfUsuarios" />
      </service>

      <service name="WcfErp.Servicios.Administracion.WcfUsuariosRoles">
        <!-- UsuariosRoles -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Administracion.IWcfUsuariosRoles" />
      </service>

      <service name="WcfErp.Servicios.Inventarios.WcfTipoConceptos">
        <!-- TipoConcepto -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfTipoConceptos" />
      </service>
      
      <service name="WcfErp.Servicios.Generales.WcfMarcas">
        <!-- Marca -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfMarcas" />
      </service>
      
      <service name="WcfErp.Servicios.Inventarios.WcfAlmacenes">
        <!-- Almacen -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfAlmacenes" />
      </service>
          
     
      <service name="WcfErp.Servicios.Inventarios.WcfArticulos">
        <!-- TipoConcepto -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfArticulos" bindingConfiguration="myBinding"  />
      </service>
      <service name="WcfErp.Servicios.Inventarios.WcfMovimientosES">
        <!-- MovimientosES -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Inventarios.IWcfMovimientosES" bindingConfiguration="myBinding"  />
      </service>
      <service name="WcfErp.Servicios.Reportes.Inventarios.WcfExistenciaValorInventario">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Reportes.Inventarios.IWcfExistenciaValorInventario" bindingConfiguration="myBinding"  />
      </service>
            <service name="WcfErp.Servicios.Reportes.Inventarios.WcfKardexArticulos">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Reportes.Inventarios.IWcfKardexArticulos" bindingConfiguration="myBinding"  />
      </service>
      <!-- Termina Servicios Inventarios-->
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior" type="WcfErp.FormatterJsonNET.NewtonsoftJsonBehaviorExtension, WcfErp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
