<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.1" maxUrlLength="1024" />
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="WcfErp.WebHttp" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
          <newtonsoftJsonBehavior />
        </behavior>
        <behavior name="web_raw">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- Servicios Especiales-->
      <service name="WcfErp.Servicios.Especiales.WcfLogin">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Especiales.IWcfLogin" />
      </service>
      <!-- Termina Servicios Especiales-->
      <!-- Servicios Ventas-->
      <service name="WcfErp.Servicios.Ventas.WcfClientes">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Ventas.IWcfClientes" />
      </service>
      <!-- Termina Servicios Ventas-->
      <!-- Servicios Generales-->
      <service name="WcfErp.Servicios.Generales.WcfPaises">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfPaises" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfCondicionesDePago">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfCondicionesDePago" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfTipoCliente">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfTipoCliente" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfZonaCliente">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfZonaCliente" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfCobrador">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfCobrador" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfVendedor">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfVendedor" />
      </service>
      <service name="WcfErp.Servicios.Generales.WcfMoneda">
        <!-- Login -->
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfErp.Servicios.Generales.IWcfMoneda" />
      </service>
      <!-- Termina Servicios Generales-->
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior" type="WcfErp.FormatterJsonNET.NewtonsoftJsonBehaviorExtension, WcfErp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
